@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-shadow-1 {
  text-shadow: 0px 4px 5px #000;
}

.text-shadow-2 {
  text-shadow: 0px 2px 3px #000;
}

.delay-200 {
  animation-delay: 200ms;
}

@keyframes bounce-horizontal {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
}

.animate-bounce-horizontal {
  animation: bounce-horizontal 1s infinite;
}

.leaflet-control {
  margin: 20px !important;
  user-select: none;
}

.leaflet-popup-content {
  width: fit-content !important;
  margin: 0 !important;
}

/* @media screen and (max-width: 640px) {
  .leaflet-popup-content {
    margin: 5px !important;
  } 
} */

.leaflet-popup-close-button {
  display: none !important;
}

.leaflet-popup-content-wrapper {
  width: fit-content !important;
  background: rgba(255,255,255,.85) !important;
  padding: 0px !important;
  margin: 0px !important;
}